footer {
    background-color: black;
    padding-top: 20px;
    text-align: center;
}

.fotter-widget {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 30px 10px !important;
    /* 上端を揃える */
}

.widget:hover .fotter-widget-title {
    -webkit-transform: translateY(-20%) scale(1.2);
    transform: translateY(-20%) scale(1.2);
}

.widget .fotter-widget-title:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    /*線の上下位置*/
    display: inline-block;
    width: 80px;
    /*線の長さ*/
    height: 3px;
    /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
    background-color: rgb(255, 170, 121);
    /*線の色*/
    border-radius: 2px;
    /*線の丸み*/
}

#copyright {
    text-align: center;
}

#copyright p {
    margin: 0;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .fotter-widget {
        width: 80%;
        display: block;
        margin: 30px auto !important;
    }

    #copyright p {
        margin: 0;
        padding: 20px 0;
    }

    .famouse-article img {
        width: 90%;
        display: block;
        margin: 0 auto;
        height: 170px;
        object-fit: cover;
    }

    .famouse-article h2 {
        font-size: 20px;
        padding: 0 40px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    #copyright p {
        margin: 0;
        padding: 20px 0;
    }
}