/*------------------------------------------------------
記事欄
------------------------------------------------------*/
.show-main-article {
    margin: 0 50px;
    height: 100%;
    width: 75%;
    max-width: 750px;
    text-align: left;
    border: 1px solid rgb(200, 200, 200);
    padding: 20px;
    background-color: white;
}

.show-main-article a {
    text-decoration: none;
}

.show-main-article img {
    max-width: 100%;
    height: 100%;
    margin: 0 0 30px 0;
    object-fit: cover;
}

/* 記事の日時 */
.show-date {
    text-align: center;
    padding: 15px 0 10px 0;
    margin: 20px 0;
}


/* 記事のタイトル */
.show-article-title {
    text-align: center;
    padding: 0 10px;
    margin: 20px 0 30px 0;
    font-size: 25px;
    font-weight: 600;
}

/* 記事のカテゴリー */
.show-category {
    text-align: center;
    margin: 20px 0 10px 0;
}

.show-category a {
    color: #007bff;
}

/* 記事の内容 */
.blog_body {
    margin-bottom: 20px;
}

/*------------------------------------------------------
記事欄ここまで
------------------------------------------------------*/

/*------------------------------------------------------
サムネ表示
------------------------------------------------------*/
.show-main-article .thumbnail {
    width: 100%;
    margin: 30px 0 15px 0 !important;
    max-height: 100% !important;
}

/*------------------------------------------------------
サムネ表示ここまで
------------------------------------------------------*/

@media (max-width: 1190px) {
    .show-main-article {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .show-main-article {
        margin: 0px;
        width: 100%;
    }
}